.app-list{
    box-sizing: border-box;
        width: 100%;
        float: left;
        clear: both;
        padding: 40px 0;
    
}
@media only screen and (max-width: 1199px){

.app-list {
    padding: 20px 0;
}
}
.app-list .sectionContent {
    padding: 0 40px;
    margin: 0 0 30px;
    width: 100%;
    float: left;
    clear: both;
}
@media only screen and (max-width: 1199px)
{
.app-list .sectionContent {
    margin: 0 0 20px;
}
}

.app-list .sectionContent .leftside {
    float: left;
}
.app-list .sectionContent .leftside h3 {
    font-size: 32px;
    margin: 0 0 20px;
    color: #000;
    line-height: normal;
    
}
@media only screen and (max-width: 768px)
{
.app-list .sectionContent .leftSide h3 {
    font-size: 20px;
}}
@media only screen and (max-width: 1199px)
{
.app-list .sectionContent .leftside h3 {
    font-size: 24px;
    margin: 0 0 10px;
}}
.app-list .sectionContent .leftside p {
    color: #637282;
    font-size: 15px;
    float: left;
    font-weight: normal;
}
@media only screen and (max-width: 768px)
{
.app-list .sectionContent .leftside p {
    font-size: 14px;
    

}}
@media only screen and (max-width: 1199px)
{
.app-list .sectionContent .leftside p {
    font-size: 15px;
    margin: 0 0 15px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;

}}
.app-list .sectionContent .rightSide {
    float: right;
}
@media only screen and (max-width: 768px)
{
.app-list .sectionContent .rightSide {
    width: 100%;
}}
@media only screen and (max-width: 991px)
{
.app-list .sectionContent .rightSide {
    clear: both;
    float: left;
    padding: 10px 0;
}}
@media only screen and (max-width: 1199px)
{
.app-list .sectionContent .rightSide {
    padding: 10px 0 0;
}}

.searchApps {
    float: left;
    position: relative;
    margin: 0 0 0 20px;
}
@media only screen and (max-width: 768px)
{
.app-list .sectionContent .rightSide .searchApps {
    width: calc(100% - 100px);
    
}}
@media only screen and (max-width: 991px)
{
.app-list .sectionContent .rightSide .searchApps {
    margin:0px;
}}
.app-list .sectionContent .rightSide .searchApps input {
    
    width: 280px;
    height: 40px;
    background: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 0 0 0 40px;
    border-radius: 3px;
}
@media only screen and (max-width: 768px)
{
.app-list .sectionContent .rightSide .searchApps input {
    width: 100%;
    
}}
@media only screen and (max-width: 1199px)
{
.app-list .sectionContent .rightSide .searchApps input {
    width: 200px;
    height: 35px;
}}

.app-list .sectionContent .rightSide .searchApps  em {
    position: absolute;
    z-index: 9;
    top: 12px;
    left: 15px;
    color: #004cdd;
    font-size: 15px;
}
.app-list .sectionContent .rightSide .viewAllApps {
    float: left;
    position: relative;
    margin: 0 0 0 20px;
    background: #0071e4;
    color: #fff;
    border-radius: 3px;
    height:40px;
    overflow: hidden;
    font-family: Gotham Bold,Arial,Georgia,serif;
    text-transform: uppercase;
    padding: 2px 20px 2px 2px;
    font-size: 14px;
    cursor: pointer;
}
@media only screen and (max-width: 768px)
{
.app-list .sectionContent .rightSide .viewAllApps {
    float: right;
    margin: 0;
    padding: 2px;
    width: 90px;
    line-height: 32px;
    font-size: 12px;
    text-align: center;
}}
@media only screen and (max-width: 1199px)
{
.app-list .sectionContent .rightSide .viewAllApps {
    height: 35px;
    padding: 2px 15px 2px 2px;
    font-size: 13px;
}}
.app-list .sectionContent .rightSide .viewAllApps em {
    display: inline-block;
    background: #0080e7;
    width: 40px;
    margin: 0 14px 0 0;
    font-size: 14px;
    line-height: 38px;
    height: 100%;
    text-align: center;
   
}
@media only screen and (max-width: 768px)
{
.app-list .sectionContent .rightSide .viewAllApps em {
    display: none;
}}
@media only screen and (max-width: 1199px)
{
.app-list .sectionContent .rightSide .viewAllApps em {
    width: 35px;
    margin: 0 9px 0 0;
    font-size: 13px;
    line-height: 32px;
}}

.app-list .appListRow {
    width: 100%;
    float: left;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
}
.app-list .appListRow .appListBox {
    width: calc(33.33% - 30px);
    margin: 0 15px 30px;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(33,33,33,.1);
    border-radius: 12px;
    padding: 25px;
    overflow: hidden;
    cursor: pointer;
}
@media only screen and (max-width: 768px)
{
.app-list .appListRow .appListBox {
    width: calc(50% - 14px);
    margin: 0 7px 15px;
    padding: 10px;
}}
@media only screen and (max-width: 991px)
{
.app-list .appListRow .appListBox {
    width: calc(50% - 30px);
    
}}
@media only screen and (max-width: 1199px)
{
.app-list .appListRow .appListBox {
    padding: 15px;
}}
.app-list .appListRow .appListBox h3 {
    color: #212121;
    font-size: 20px;
    margin: 0 0 12px;
    float: left;
}
@media only screen and (max-width: 1199px)
{
.app-list .appListRow .appListBox h3 {
    font-size: 18px;
    margin: 0 0 6px;
    float: left;
}}
.app-list .appListRow .appListBox p {
    font-size: 15px;
    color: #637282;
    margin: 0 0 15px;
    display: block;
    min-height: 60px;
    font-weight: normal;
    float: left;
}
@media only screen and (max-width: 1199px)
{
.app-list .appListRow .appListBox p {
    font-size: 14px;
}}


 .appListRow .appListBox .tickBox {
    float: left;
    margin: 50px 0 20px;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(99,114,130,.3);
    text-align: center;
    line-height: 30px;
    background: #fff;
    border-radius: 100px;
}
 .appListRow .appListBox.active .tickBox:before {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    content: "\f00c";
}
 .appListRow .appListBox.active .tickBox {
    background: #00c853;
    border: none;
    font-size: 16px;
    color: #fff;
}
.app-list .appListRow .appListBox .tickBox:checked {
   
    background: rgba(99,114,130,.3);
   
    
}
.app-list .appListRow .appListBox  img  {
    float: right;
    width: 25%;
    height: auto;
    vertical-align: middle;
}
@media only screen and (max-width: 1199px)
{
.app-list .appListRow .appListBox  img  {
    width: 35%;
}}
.app-list .appListRow .appListBox .appListFooter {
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    padding: 20px 0 0;
    margin: 25px 0 0;
    min-height: 45px;
}
@media only screen and (max-width: 1199px)
{
.app-list .appListRow .appListBox .appListFooter {
    margin: 15px 0 0;
}}

.app-list .appListRow .appListBox .appListFooter .appPrice {
    float: left;
}
.app-list .appListRow .appListBox .appListFooter .appPrice span {
    display: block;
    color: #637282;
    text-transform: uppercase;
    font-size: 13px;
}
.app-list .appListRow .appListBox .appListFooter .appPrice strong {
    float: left;
    font-size: 19px;
    color: #212121;

}
.apps-detailbtn {
    border: 1px solid #f31597;
    background: #fff;
    color: #f31597;
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 5px 15px;
    height: 28px;
    border-radius: 4px;
    margin: 14px 0 0 15px;
    transition: all .05s ease-in-out;
    text-decoration: none;
    
}
.apps-detailbtn:hover{
    background-color:#f31597 ;
    color: white;
}
@media (max-width: 1200px)
{
.apps-detailbtn {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 0 20px;
    padding: 10px;
    height: inherit;
    float: left;
    width: 100%;
}}
