/*html, body, #container, .carousel {
	height:100%;
	margin: 0;
	width: 100%;
}



.image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	color: #14B6D4;
	cursor: pointer;
	font-size: 2rem;
	position: fixed;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}*/
.appdetailSection .appdetailImg {
    float: left;
    border-radius: 6px;
    border: 1px solid #e4e8f1;
    background: #f8f8f8;
    padding: 15px;
    width: calc(55% - 10px);
    height: 575px;
    display: flex;
    align-items: center;
    position: relative;
}
@media only screen and (max-width: 768px)
{
.appdetailSection .appdetailImg {
    padding: 8px;
    height: 250px;
}}
@media only screen and (max-width: 991px)
{
.appdetailSection .appdetailImg {
    width: 100%;
    margin: 0 0 20px;
}}
@media only screen and (max-width: 1280px)
{
.appdetailSection .appdetailImg {
    height: 520px;
}}
.appdetailSection .appdetailImg .appdetailSlider {
    position: relative;
    width: 100%;
    height: 100%;
}
.appdetailSection .appdetailImg .appdetailSlider .sliderHeight {
    height: 100%;
    overflow: hidden;
    display: block;
}
.appdetailSection .appdetailImg .appdetailSlider .drag-scroll-content {
    overflow: hidden;
    height: 100%!important;
}
.appdetailSection .appdetailImg .appdetailSlider .appdetailSlide {
    width: calc(100% - 2px);
    height: 100%;
    padding: 0 6px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.appdetailSection .appdetailImg .appdetailSlider .appdetailSlide img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border-radius: 10px;
}
.appdetailSection .appdetailImg .appdetailSlider .dragbutton {
    position: absolute;
    z-index: 9;
    font-size: 20px;
    line-height: 1;
    padding: 0;
    width: 48px;
    height: 48px;
    box-shadow: 0 8px 34px rgba(0,0,0,.05);
    border: 1px solid #e4e8f1;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 100px;
    cursor: pointer;
    color: #1d2c41;
}
.appdetailSection .appdetailImg .appdetailSlider .dragbutton.leftArrow {
    left: -24px;
}
@media only screen and (max-width: 768px)
{
.appdetailSection .appdetailImg .appdetailSlider .dragbutton.leftArrow {
    left: -17px;
}}
@media only screen and (max-width: 768px)
{
.appdetailSection .appdetailImg .appdetailSlider .dragbutton {
    width: 34px;
    height: 34px;
    font-size: 12px;
}}
.appdetailSection .appdetailImg .appdetailSlider .dragbutton.rightArrow {
    right: -24px;
}
@media only screen and (max-width: 768px)
{
.appdetailSection .appdetailImg .appdetailSlider .dragbutton.rightArrow {
    right: -17px;
}}
@media only screen and (max-width: 768px)
{
.appdetailSection .appdetailImg .appdetailSlider .dragbutton {
    width: 34px;
    height: 34px;
    font-size: 12px;
}}
.icon-next:before {
    font-weight: 900;
    font-family: "Font Awesome\ 5 Free";
    content: "\f054";
}
.icon-prev:before {
    font-weight: 900;
    font-family: "Font Awesome\ 5 Free";
    content: "\f053";
}

