.slider-container {
    /* if you want to have a scrollbar, you can add overflow here */ 
       overflow-x: hidden;
      
       justify-content: center;
       align-items: center;
       margin: 0rem ;
       padding: 3px;
    scroll-behavior: smooth;
   }
   .slider-wrapper {
       
       align-items: center;
       width: 100%;
   }
   
    .dragbutton {
    position: absolute;
    z-index: 9;
    top: -35px;
    font-size: 25px;
    line-height: 1;
    padding: 0;
    height: 18px;
    width: 16px;
    border: none;
    background: none;
    cursor: pointer;
    color: #1d2c41;
}
 .dragbutton.leftArrow {
    right: 30px;
}
 .dragbutton.rightArrow {
    right: 0px;
}