.slider-container {
    /* if you want to have a scrollbar, you can add overflow here */ 
       overflow-x: hidden;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0rem ;
       padding: 3px;
    scroll-behavior: smooth;
   }
   .slider-wrapper {
       display: flex;
       align-items: center;
       width: 100%;
   }
   .btnn {
       position: absolute;
       box-shadow: 0 0 6.1px 0.9px grey;
       padding: 5px;
       cursor: pointer;
       width: 35px;
       height: 35px;
       background: grey;
       text-align: center;
       color:white;
       border-radius: 50%;
       z-index: 1;
   }
   .prev {
       left: 1rem;
   }
   .next {
       right: 1rem;
   }
    .dragbutton {
    position: absolute;
    z-index: 9;
    top: -35px;
    font-size: 25px;
    line-height: 1;
    padding: 0;
    height: 18px;
    width: 16px;
    border: none;
    background: none;
    cursor: pointer;
    color: #1d2c41;
}
 .dragbutton.leftArrow {
    right: 30px;
}
 .dragbutton.rightArrow {
    right: 0px;
}