.headerdiv{
  background-color: white;
  margin-top: 0px;
}

.partner{
    font-weight: bold;
    text-decoration: none;
    color: #0984e3;
    font-size: 12px;
    margin:auto;
    margin-right:20px;
   
    
}
.dropdown-toggle{
    display: inline;
    background-color: white;
    border-color: blue;
    border-width: 4px;
    text-decoration-color: black;
    padding-left: 4px;
    font-size: 10px;
    text-align: left;
    font-weight: 500;
    border-radius: 5px;
    width: 100px;
    margin-left:20px;
}
.icon{
    text-align: right;
    color:blue;
    margin-left: 80px;
}
.dropdown-menu{
   border-radius: 0px;
   width:250px;
   
  
    
}
.div1{
    display: inline;
}
.signin{
    margin-left: 20px;
    
    font-size: 15px;
    
    width:110px;
    padding:auto;
}
.project{
    font-size: 15px;
    font-weight: bold;
}
.demo{
color:black;
font-size: 13px;

    
}
.tooltip{
    
}

 .tooltip-inner {
    
    background-color: #fff;
    color: #000;
    border: 1px solid gray;
    border-radius: 8px;
   max-width:100%;
   
  }
  
  .tooltip .tooltip-arrow {
    border-bottom: 5px solid red !important;}
 .sales{
     font-weight: bold;
     color:blue;
     margin-top: 0px;
     margin-left: 50px;
    
 } 
 .login{
    font-weight: bold;
    color:blue;
    margin-top: 0px;
    
    
   
} 
 .ref{
     font-weight: normal;
 }
 .tool .fas{
    
    margin-right: 50px;
    justify-self: center;
     
 }
 .dropdown-item img{
     text-align: left;
     margin-right: 20px;
 }
 .dropdown-item{
  margin-top:8px;
  margin-bottom: 8px;
 }
 .navbar-fixed-top{
  
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
 
 }
 
/*.tooltip-inner{
   background-color: white;
   width:300px;
   border-color: gray;
   border-width: 2px;
}
.tooltip.bottom {
    padding: 5px 0;
    
  }
  .tooltip-arrow {
    float: right;
margin-left:500px;
    width: 0;
    height: 0;
    border-color: black;
    border-style: solid;
    background-color: white;
  }
  .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
  }
  .tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
  }
  .tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
  }
  .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
  }
  .tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
  }
  .tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
  }
  .tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
  }
  .tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
  }*/
  