.wrapper {
    float: left;
    width: 100%;
}
.middlePart {
    min-height: calc(100vh - 100px);
    float: left;
    width: 100%;
    clear: both;
}
.problemSection {
    width: 100%;
    float: left;
    clear: both;
    padding: 40px 25px;
}
@media only screen and (max-width: 1199px)
{
.problemSection {
    padding: 50px 0;
}}
.problemSection .sectionContent {
    padding: 0 15px;
    margin: 0 0 30px;
    width: 100%;
    float: left;
    clear: both;
}
@media only screen and (max-width: 1199px)
{
.problemSection .sectionContent {
    margin: 0 0 20px;
}}
.problemSection .sectionContent .leftSide {
    float: left;
}
@media only screen and (max-width: 768px)
{
.problemSection .sectionContent .leftSide {
    width: 100%;
    clear: both;
}}
.problemSection .sectionContent .leftSide h3 {
    font-size: 28px;
    margin: 0 0 20px;
    color: #000;
    line-height: normal;
}
@media only screen and (max-width: 768px)
{
.problemSection .sectionContent .leftSide h3 {
    font-size: 24px;
    margin: 0 0 10px;
}}
@media only screen and (max-width: 1199px)
{
.problemSection .sectionContent .leftSide h3 {
    font-size: 24px;
    margin: 0 0 10px;
}}
.problemSection .sectionContent .leftSide h3 img {
    vertical-align: sub;
}
.problemSection .sectionContent .leftSide p {
    font-size: 15px;
    margin: 0 0 15px;
    color: #637282;
}
@media only screen and (max-width: 768px)
{
.problemSection .sectionContent .leftSide p {
    font-size: 15px;
    margin: 0 0 15px;
}}
@media only screen and (max-width: 1199px)
{
.problemSection .sectionContent .leftSide p {
    font-size: 15px;
    margin: 0 0 15px;
}}
.problemSection .sectionContent .rightSide {
    float: right;
}
@media only screen and (max-width: 768px)
{
.problemSection .sectionContent .rightSide {
    padding: 10px 0;
    width: 100%;
    clear: both;
}}
@media only screen and (max-width: 1199px)
{
.problemSection .sectionContent .rightSide {
    padding: 10px 0 0;
}}
.problemSection .sectionContent .rightSide .problemSearch {
    float: left;
    position: relative;
    margin: 0 0 0 20px;
}
@media only screen and (max-width: 768px)
{
.problemSection .sectionContent .rightSide .problemSearch {
    width: 100%;
    margin: 0;
}}
.problemSection .sectionContent .rightSide .problemSearch input {
    width: 300px;
    height: 40px;
    background: #fff;
    border: 1px solid rgba(0,112,224,.3);
    box-shadow: 0 0 10px 1px rgba(0,112,224,.1);
    padding: 0 30px 0 40px;
    border-radius: 3px;
    font-family: Gotham Bold,Arial,Georgia,serif;
    color: #212121;
    font-size: 13px;
}
@media only screen and (max-width: 768px)
{
.problemSection .sectionContent .rightSide .problemSearch input {
    width: 100%;
}}
@media only screen and (max-width: 768px)
{
.problemSection .sectionContent .rightSide .problemSearch input {
    width:200px;
}}
.problemSection .sectionContent .rightSide .problemSearch em {
    position: absolute;
    z-index: 9;
    top: 12px;
    left: 15px;
    color: #004cdd;
    font-size: 15px;
}
.icon-magnifying:before {
    font-weight: 900 !important;
    font-family: "Font Awesome\ 5 Free" !important;
    content: "\f002";
}

.problemSection .problemListingArea {
    width: 100%;
    float: left;
    clear: both;
}
.problemSection .problemListingArea .problemListing {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.problemSection .problemListingArea .problemListing .problembox {
    width: calc(50% - 30px);
    min-height: 288px;
    position: relative;
    box-shadow: 0 0 10px 1px rgba(33,33,33,.1);
    border-radius: 5px;
    background: #fff;
    float: left;
    overflow: hidden;
    margin: 0 15px 30px;
}
@media only screen and (max-width: 768px)
{
.problemSection .problemListingArea .problemListing .problembox {
    width: 100%;
    min-height: auto;
}}
@media only screen and (max-width: 1199px)
{
.problemSection .problemListingArea .problemListing .problembox {
    
    min-height: 232px;
}}
.problemSection .problemListingArea .problemListing .problembox h3 {
    position: relative;
    font-family: Gotham Bold,Arial,Georgia,serif;
    font-size: 16px;
    color: #000;
    display: block;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 20px 20px 60px;
    height: 78px;
}
@media only screen and (max-width: 768px)
{
.problemSection .problemListingArea .problemListing .problembox h3 {
    font-size: 13px;
    padding: 10px 10px 10px 45px;
    height: auto;
}}
@media only screen and (max-width: 1199px)
{
.problemSection .problemListingArea .problemListing .problembox h3 {
    font-size: 14px;
    padding: 15px 15px 15px 55px;
    height: 62px;
}}
.problemSection .problemListingArea .problemListing .problembox h3:before {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: 13px;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(99,114,130,.3);
    text-align: center;
    line-height: 30px;
    background: #fff;
    border-radius: 100px;
}
@media only screen and (max-width: 768px)
{
.problemSection .problemListingArea .problemListing .problembox h3:before {
    left: 10px;
}}
@media only screen and (max-width: 1199px)
{
.problemSection .problemListingArea .problemListing .problembox h3:before {
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: 10px;
}}
.problemSection .problemListingArea .problemListing .problembox .problemSet
 {
    width: 100%;
    background: #fbfcfe;
    float: left;
    clear: both;
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
.problemSection .problemListingArea .problemListing .problembox .problemSet {
    padding: 5px;
}}
.problemSection .problemListingArea .problemListing .problembox .problemSet ul {
    margin: 0;
    padding: 0;
}
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li {
    width: 50%;
    float: left;
    list-style-type: none;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li {
    width: 100%;
    clear: both;
    padding: 5px;
}}
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li input[type=checkbox] {
    position: absolute;
    z-index: -22;
    top: -100px;
    left: -100px;
}
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li label {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(33,33,33,.1);
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    color: #637282;
}
@media only screen and (max-width: 768px)
{
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li label {
    padding: 10px;
}}
@media only screen and (max-width: 1199px)
{
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li label {
    padding: 10px;
}}
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li .problemIcon {
    width: 45px;
    float: left;
    margin: 0 15px 0 0;
}
@media only screen and (max-width: 1199px)
{
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li .problemIcon {
    width: 35px;
}}
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li .problemIcon img {
    max-width: 100%;
}
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li label:after {
    content: "";
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 2px solid rgba(99,114,130,.3);
    text-align: center;
    line-height: 30px;
    background: #fff;
    border-radius: 100px;
}
@media only screen and (max-width: 768px)
{
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li label:after {
    width: 25px;
    height: 25px;
    line-height: 25px;
}}
@media only screen and (max-width: 1199px)
{
.problemSection .problemListingArea .problemListing .problembox .problemSet ul li label:after {
    width: 25px;
    height: 25px;
    line-height: 25px;
}}
img {
    vertical-align: middle;
}
.problemSection .sectionContent .rightSide .problemSearch .cancelIcon {
    position: absolute;
    z-index: 9;
    top: 12px;
    right: 15px;
    color: red;
    font-size: 13px;
    cursor: pointer;
}
.icon-cancel:before {
    
}
