.prototype-header {
    background: #fff;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 12;
    box-shadow: 0 2px 3px rgba(0,0,0,.12);
}
.wrapper-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 60px;
    z-index: 2;
}
@media only screen and (max-width: 768px) and (min-width: 401px)
{
.wrapper-header {
    display: none;
}}
.now-logo {
    width: 108px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    position: relative;
}
.now-logo img {
    width: 100%;
    height: 100%;
}
.now-logo:after {
    content: "";
    width: 1px;
    height: 60px;
    position: absolute;
    top: 50%;
    background-color: #e4e8f1;
    right: -20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-txt {
    font-weight: normal;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    padding: 3px 7px;
    margin: 17px 13px 14px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
}
.header-txt.hide {
    display: none;
}
.edit-prototype-name {
    display: none;
   
    font-size: 14px;
    line-height: 20px;
    color: #000;
    background: rgba(0,112,224,.04);
    border: 1px solid #0070e0;
    box-sizing: border-box;
    border-radius: 2px;
    width: 250px;
    padding: 3px 7px;
    margin: 17px 13px 13px;
    position: absolute;
}
.edit-prototype-name.show {
    display: inline-block;
}
.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 36px;
    text-align: right;
    margin: 14px 20px;
    z-index: 1;
}
.wrapper .mob-web-btn-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 32px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.wrapper .mob-web-btn-wrapper .mob-web-btn {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #3c3e49;
    cursor: pointer;
    border: 1px solid #ecedf0;
}
.wrapper .mob-web-btn-wrapper .mob-web-btn.mob-btn {
    left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.wrapper .mob-web-btn-wrapper .mob-web-btn.active {
    color: #6c00ea;
    border-color: #6c00ea;
}
.wrapper .mob-web-btn-wrapper .mob-web-btn .icon-mob, .wrapper .mob-web-btn-wrapper .mob-web-btn .icon-web {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 0;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.icon-mobile:before {
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f3cd";
}
.wrapper .mob-web-btn-wrapper .mob-web-btn.web-btn {
    right: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.icon-desktop-1:before {
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f108";
}
.wrapper .header-action-btn {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border: 1px solid #dfe0e6;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.wrapper .header-action-btn .clickarea {
    width: 100%;
    height: 100%;
}
.wrapper .header-action-btn .action-icon {
    color: #3c3e49;
    font-size: 14px;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.icon-comment-new:before {
    color:'white';
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f27a";
    
}
.tutorialBox {
    position: absolute;
    z-index: -2;
    width: 300px;
    box-shadow: 0 2px 16px rgba(0,0,0,.29);
    border-radius: 4px;
    background: #0070e0;
    padding: 15px;
    opacity: 0;
    transition: opacity ease-in-out .4s;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.topposition2 {
    z-index: 20!important;
    top: 60px;
    left: 80px;
}
.tutorialBox.greyBg {
    background: #3c3e49;
}
.topposition2:before {
    border-bottom: 7px solid #3c3e49;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.tutorialBox:before {
    content: "";
    position: absolute;
}
.tutorialBox h3 {
    font-family: "Gotham Bold",Arial,Georgia,serif;
    font-size: 13px;
    color: #fff;
    margin: 0 0 4px;
}
.tutorialBox p {
    font-size: 12px;
    color: #fff;
    margin: 0 0 20px;
    font-weight: 400;
}
.tutorialBox .dots {
    float: left;
    padding: 10px 0 0;
    line-height: 11px;
}
.tutorialBox .dots span {
    width: 6px;
    height: 6px;
    border-radius: 20px;
    background: #fff;
    opacity: .4;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
}
.tutorialBox .dots span {
    width: 6px;
    height: 6px;
    border-radius: 20px;
    background: #fff;
    opacity: .4;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
}
.tutorialBox .dots span.active {
    opacity: 1;
}
.tutorialBox .buttons {
    float: right;
}
.tutorialBox .buttons button {
    cursor: pointer;
    background: 0 0;
    border: none;
    font-size: 13px;
    height: 25px;
    padding: 0 10px;
    border-radius: 3px;
}
.tutorialBox .buttons button.backButton {
    color: #fff;
}
.tutorialBox .buttons button {
    cursor: pointer;
    background: 0 0;
    border: none;
    font-size: 13px;
    height: 25px;
    padding: 0 10px;
    border-radius: 3px;
}
.tutorialBox .buttons button.nextButton {
    margin: 0 0 0 10px;
    background: #fff;
    color: #000;
    width: 60px;
}
.wrapper .copy-url-btn {
    width: 32px;
    height: 32px;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    position: relative;
    margin-right: 8px;
    color: #3c3e49;
    transition: all ease-in-out .3s;
    border: 1px solid #dfe0e6;
    border-radius: 3px;
}
.icon-share-outline:before {
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f1e0";
}
.wrapper .copy-url-btn:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.wrapper .copy-url-btn .shareClick {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
    cursor: pointer;
}
.wrapper .copy-url-btn .tutorialBox {
    top: calc(100% + 10px);
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
}
.wrapper .copy-url-btn .tutorialBox:before {
    border-bottom: 8px solid #0070e0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.tutorialBox .closeButton {
    position: absolute;
    right: 5px;
    cursor: pointer;
    top: 5px;
    z-index: 9;
    color: #fff;
    font-size: 9px;
    width: 12px;
    height: 12px;
    opacity: .7;
    text-align: center;
}
.icon-iconcross:before {
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f00d";
}
.wrapper .download-btn {
    width: 32px;
    height: 32px;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    cursor: pointer;
    position: relative;
    color: #333;
    transition: all ease-in-out .3s;
    margin-right: 8px;
    border: 1px solid #dfe0e6;
    border-radius: 3px;
}
.wrapper .download-btn:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.icon-download-1:before {
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f019";
}
.wrapper .download-list-wrap {
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 9;
}

.wrapper .download-list-wrap .download-list {
    width: 198px;
    height: 140px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,.12);
    border-radius: 4px;
    border: 1px solid #e4e8f1;
    background-color: #fff;
    position: absolute;
    right: 0;
    bottom: -141px;
    z-index: 2;
    margin: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    transition: opacity ease-in-out .3s;
    text-align: left;
    list-style-type:'';
    padding: 0;
    
}
.wrapper .download-list-wrap:hover .download-list {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.wrapper .download-list-wrap .download-list .download-title {
    background-color: #ebf1fb;
    color: #1d2c41;
   
    font-size: 14px;
    line-height: 20px;
    padding: 12px;
}
.wrapper .download-list-wrap .download-list .download-option {
    cursor: pointer;
    color: #8291a4;
    list-style-type: '';
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 14px 12px;
    border-bottom: 1px solid #e4e8f1;
    transition: all ease-in-out .3s;
}
.wrapper .download-list-wrap .download-list .download-option:last-child {
    border: none;
}
.wrapper .download-btn .tutorialBox {
    top: calc(100% + 10px);
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
}
.wrapper .download-btn .tutorialBox:before {
    border-bottom: 8px solid #0070e0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.wrapper .custom-btn {
    height: 32px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    background: #1db954;
}
.wrapper .custom-btn .txt {
    display: block;
    text-align: center;
    height: 32px;
    color: #fff;
   
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    padding: 6px 14px;
    cursor: pointer;
    outline: 0;
}
.signin-wrap {
    width: 88px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
    padding-bottom: 14px;
    position: relative;
}
.signin-wrap .center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}
.signin-wrap .signin-done {
    cursor: pointer;
}
.signin-wrap .profile-pic {
    width: 32px;
    height: 32px;
    background: 0 0/contain #fff2e8;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    
}
.signin-wrap .profile-pic .txt {
    font-size: 12px;
    line-height: 0;
    color: #fa541c;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.signin-wrap .signin-done .caret {
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 3px 0 0 6px;
}
.icon-caret-down:before {
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f0d7";
}
.icon-caret-up:before {
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f0d8";
}
.signin-wrap:hover .signin-done .caret.icon-caret-down {
    display: none;
}
.signin-wrap .signin-done .caret.icon-caret-up {
    display: none;
}
.signin-wrap:hover .signin-done .caret.icon-caret-up {
    display: inline-block;
}
.signin-wrap .profile-options {
    min-width: 206px;
    border: 1px solid #dfe0e6;
    background: #fff;
    position: absolute;
    top: 38px;
    right: 16px;
    display: none;
}
.signin-wrap:hover .profile-options {
    display: block;
}
.signin-wrap .profile-options .details-wrap {
    position: relative;
    padding: 15px 0;
}
.signin-wrap .profile-options .profile-pic {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.signin-wrap .profile-pic .txt {
    font-size: 12px;
    line-height: 0;
    color: #fa541c;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.signin-wrap .profile-options .details-wrap .details {
    text-align: left;
    padding: 0 10px 0 48px;
}
.signin-wrap .profile-options .details-wrap .name {
    font-size: 12px;
    line-height: 20px;
    color: #3c3e49;
}
.signin-wrap li, .signin-wrap p, .signin-wrap ul {
    margin: 0;
}
.signin-wrap .profile-options .details-wrap .email {
    font-size: 10px;
    line-height: 12px;
    color: #3c3e49;
}
.signin-wrap .options {
    border-top: 1px solid #dfe0e6;
}
.signin-wrap .options .option-entity {
    height: 32px;
    border-bottom: 1px solid #dfe0e6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    color: #3c3e49;
    padding: 0 11px;
    cursor: pointer;
}
.signin-wrap .options .option-entity:last-child {
    border-bottom: none;
}
.commentPanel {
    width: 240px;
    height: calc(100% - 60px);
    
    background: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,.7);
    position: fixed;
    top: 60px;
    right: -250px;
    z-index: 10;
    transition: all .3s ease-in-out;
}
.commentPanel.active {
    right: 0;
    transition: all .3s ease-in-out;
}
.commentPanel .title {
    
    font-size: 13px;
    line-height: 20px;
    border-bottom: 1px solid #dfe0e6;
    min-height: 40px;
    color: #050505;
    display: flex;
    align-items: center;
    padding: 0 16px;
}
h3, h4, li, p, ul {
    margin: 0;
}
.commentPanel .cancel {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 12px;
    line-height: 0;
    color: #000;
    cursor: pointer;
}
.commentPanel .commentPanelInner {
    width: 100%;
    height: calc(100% - 40px);
    position: absolute;
    top: 40px;
    left: 0;
}
perfect-scrollbars {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.commentPanel .commentPanelInner .comment-list {
    margin: 0;
}
.commentPanel .commentPanelInner .no-comment-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commentPanel .commentPanelInner .no-comment-wrap .no-comment {
    text-align: center;
}
.commentPanel .commentPanelInner .no-comment-wrap .no-comment .icon {
    width: 121px;
    height: 121px;
    background: #fafafa;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 0 !important;
}
.commentPanel .commentPanelInner .no-comment-wrap .no-comment .icon:after, .commentPanel .commentPanelInner .no-comment-wrap .no-comment .icon:before {
    content: "\f27a";
    font-weight: 900;
    font-family: "Font Awesome\ 5 Free";
    font-size: 48px;
    position: absolute;
    line-height: 43px;
    display: inline-block;
}
.commentPanel .commentPanelInner .no-comment-wrap .no-comment .icon:before {
    color: #d9d9d9;
    top: 47px;
    left: 34px;
    z-index: 2;
}
.commentPanel .commentPanelInner .no-comment-wrap .no-comment .icon:after {
    color: #e8e8e8;
    top: 39px;
    left: 43px;
    z-index: 1;
}
.commentPanel .commentPanelInner .no-comment-wrap .no-comment h3 {
    font-size: 16px;
    line-height: 19px;
    color: #595959;
    margin: 13px 0 4px;
    
}
.commentPanel .commentPanelInner .no-comment-wrap .no-comment p {
    font-size: 12px;
    line-height: 129.3%;
    color: #595959;
    width: 60%;
    margin: 0 auto;
}
.share-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(29,44,65,.9);
}
.share-wrap {
    width: 540px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    top: 160px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.close-icon {
    position: absolute;
    font-size: 14px;
    line-height: 0;
    top: 19px;
    right: 21px;
    z-index: 2;
    cursor: pointer;
}
.share-heading {
    color: #1d2c41;
    
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .29px;
    padding: 14px 40px 17px 20px;
}
.nav {
    border: none;
    position: relative;
    font-family: "Gotham Book",Arial,Georgia,serif;
    background-color: #fff;
}
.nav li {
    position: relative;
}
.nav  .tabname.active {
    border-bottom: 3px solid #6c00ea;
    color: #6c00ea;
    font-family: "Gotham Bold",Arial,Georgia,serif;
}
.nav li .tabname {
    display: block;
    height: 48px;
    padding: 18px 24px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: .2px;
    color: #000;
}
.shareNav .pane {
    box-shadow: none;
    border-top: 1px solid #e4e8f1;
    border-right: none;
    border-bottom: none;
    border-left: none;
}
.pane {
    box-shadow: 0 2px 3px rgba(0,0,0,.16);
    border: 1px solid #e4e8f1;
    background-color: #fff;
}
.content-wrap {
    padding: 36px 20px;
}
.content-heading {
    color: #000;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 14px;
   
    margin-bottom: 8px;
}
.email-msg-tabs {
    display: inline-block;
    vertical-align: top;
    width: 85px;
    height: 42px;
    border: 1px solid #8291a4;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    margin-right: 12px;
}
.email-msg-tabs .email-msg-tab.active.email-tab {
    left: -1px;
}
.email-msg-tabs .email-msg-tab.active {
    background-color: #0070e0;
    top: -1px;
    bottom: -1px;
    color: #fff;
}
.email-msg-tabs .email-msg-tab.email-tab {
    left: 0;
    border-radius: 4px 0 0 4px;
}
.email-msg-tabs .email-msg-tab {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #8291a4;
    cursor: pointer;
}
.email-msg-tabs .email-msg-tab span {
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.icon-mail:before {
    font-weight: 900;
    font-family: "Font Awesome\ 5 Free";
    content: "\f0e0";
}
.email-msg-tabs .email-msg-tab.msg-tab {
    right: 0;
    border-radius: 0 4px 4px 0;
}
.email-msg-tabs .email-msg-tab {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #8291a4;
    cursor: pointer;
}
.email-msg-tabs .email-msg-tab span {
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.icon-phonescreen:before {
    font-weight: 900;
    font-family: "Font Awesome\ 5 Free";
    content: "\f3cd";
}
.email-wrap {
    display: inline-block;
    width: 403px;
    min-height: 42px;
    vertical-align: top;
    position: relative;
}
.email-wrap .multi-email-wrap {
    width: 260px;
    min-height: 42px;
    max-height: 144px;
    border-radius: 4px;
    border: 1px solid #e4e8f1;
    background-color: #fff;
    position: relative;
    overflow: auto;
}
.shareNav .pane {
    box-shadow: none;
    border-top: 1px solid #e4e8f1;
    border-right: none;
    border-bottom: none;
    border-left: none;
}
.pane {
    box-shadow: 0 2px 3px rgba(0,0,0,.16);
    border: 1px solid #e4e8f1;
    background-color: #fff;
}
.content-wrap {
    padding: 36px 20px;
}
.content-heading {
    color: #000;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 14px;
    
    margin-bottom: 8px;
}
.content-desc {
    padding: 0;
    line-height: 12px;
    color: #8291a4;
    
    font-size: 12px;
    margin-bottom: 20px;
}
.link {
    width: 500px;
    height: 42px;
    position: relative;
}
.link .link-txt {
    width: 358px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #e4e8f1;
    background-color: #fff;
    color: #0070e0;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    padding: 13px 26px 12px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.link .link-btn {
    width: 134px;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #1db954;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 11px 0;
    transition: all ease-in-out .3s;
}
.link .link-btn .btn-txt-normal {
    display: inline-block;
}
.link .link-btn .btn-txt-success, .link .link-btn.success .btn-txt-normal {
    display: none;
}
.passwordSet {
    width: 100%;
    clear: both;
    float: left;
    background: #ebf1fb;
    border-radius: 0 0 4px 4px;
    padding: 15px 20px 5px;
}
.passwordSet h3 {
    font-size: 13px;
    color: black;
    display: block;
    margin: 0 0 10px;
}
.passwordSet h3 span {
    float: right;
    background: #8291a4;
    cursor: pointer;
    width: 28px;
    height: 16px;
    position: relative;
    z-index: 2;
    border-radius: 50px;
}
.passwordSet h3 span:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    z-index: 1;
    background: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 2px;
    transition: all ease-in-out .3s;
}
.content-wrap .sb-group {
    justify-content: center;
}
.sb-group {
    flex-wrap: wrap;
}
.sb-button, .sb-group {
    display: inline-flex;
    align-items: flex-start;
}
.sb-button {
    margin: .3125em;
}
.content-wrap .sb-default .sb-wrapper {
    width: 155px;
}

.sb-default .sb-wrapper {
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--button-color)!important;
}
.sb-default .sb-wrapper.sb-facebook {
    background-color: #4267b2 !important;
}
.sb-wrapper {
    font-size: inherit;
    cursor: pointer;
    position: relative;
    outline: 0;
    min-width: 4.125em;
    height: 2.5em;
    border: none;
    border-radius: 1px;
    padding: 0;
    line-height: 2.571em;
    background-color: transparent;
}
.sb-wrapper .sb-inner {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}
.sb-wrapper .sb-content {
    display: flex;
    height: 100%;
    width: 100%;
}
.sb-show-text .sb-icon {
    width: 2em;
}
.sb-wrapper .sb-icon {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    min-width: 2em;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-fw {
    width: 1.25em;
}
.svg-inline--fa.fa-w-10 {
    width: 0.625em;
}
.fa-fw {
    text-align: center;
    width: 1.25em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.sb-default .sb-wrapper.sb-show-icon.sb-show-text .sb-text {
    -webkit-filter: none;
    filter: none;
    padding-right: 1em;
    padding-left: 0;
}
.sb-wrapper .sb-text {
    padding: 0 .7em;
    flex: 1;
    height: 100%;
    white-space: nowrap;
}
.sb-wrapper .sb-count, .sb-wrapper .sb-icon, .sb-wrapper .sb-text {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sb-default .sb-wrapper.sb-twitter {
    background-color: #00acee ;
}
.sb-default .sb-wrapper.sb-linkedin {
    background-color: #006fa6 ;
}
.sb-default .sb-wrapper.sb-whatsapp {
    background-color: #25d366 ;
}
.sb-default .sb-wrapper.sb-telegram {
    background-color: #08c ;
}
.embed {
    width: 500px;
    height: 42px;
    position: relative;
}
.embed .embed-txt {
    width: 358px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #e4e8f1;
    background-color: #fff;
    color: #8291a4;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    padding: 13px 26px 12px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.embed .embed-btn {
    width: 134px;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #1db954;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 11px 0;
    transition: all ease-in-out .3s;
}
.embed .embed-btn .btn-txt-normal {
    display: inline-block;
}
.embed .embed-btn .btn-txt-success, .embed .embed-btn.success .btn-txt-normal {
    display: none;
}
.email-wrap .email-btn {
    width: 134px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    border-radius: 4px;
    background: #1db954;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 11px 0;
    transition: all ease-in-out .3s;
}
.email-wrap .email-btn[disabled] {
    background: #e8e8e8!important;
    color: #fff;
    cursor: not-allowed;
}
.email-wrap .email-btn .btn-txt-normal {
    display: inline-block;
}
.ng2-tag-input {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    transition: .25s;
    padding: .25rem 0;
    min-height: 32px;
    cursor: text;
    border-bottom: 2px solid #efefef;
}
tag-input .ng2-tag-input.prototype-theme {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    cursor: text;
    border-bottom: none;
}
.email-wrap .multi-emails .ng2-tag-input {
    border: none;
    background: #fff;
    padding-top: 8px;
    padding-bottom: 0;
}
tag-input .ng2-tag-input.prototype-theme .ng2-tags-container {
    flex-wrap: wrap;
    display: flex;
}
.ng2-tag-input .ng2-tags-container {
    flex-wrap: wrap;
    display: flex;
}
.ng2-tag-input__text-input {
    display: inline;
    vertical-align: middle;
    border: none;
    padding: 0.5rem;
    height: 38px;
    font-size: 1em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.email-wrap .input-group {
    width: 262px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #e4e8f1;
    background-color: #fff;
}
.input-group-addon {
    text-align: left;
}
.flagInput {
    padding: 0 !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.dropbtn {
    background-color: white;
    color: white;
    border: none;
    cursor: pointer;
}
.email-wrap .input-group .dropbtn {
    padding: 0;
    width: 56px;
    height: 40px;
    box-shadow: none;
    position: relative;
}
.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url(https://res.cloudinary.com/dvbuhh0bl/image/upload/v1495279723/flags_boi3c5.png) no-repeat;
}
.flag.flag-in {
    background-position: -64px -66px;
}
.email-wrap .input-group .dropbtn .flag {
    outline: 0;
}
.arrow-down, .arrow-up {
    border-bottom: 15px solid #fff;
    visibility: hidden!important;
}
.arrow-down {
    display: inline-block;
    vertical-align: text-top;
    margin-top: 5px;
    margin-left: 2px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #444;
}
.email-wrap .input-group .dropbtn .arrow-down {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #444;
    margin: 7px 0 0 8px;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.email-wrap .input-group .form-control {
    border: none;
    padding: 8px 12px;
    height: 40px;
    font-size: 12px;
    box-shadow: none;
}
.email-wrap .input-group .dropbtn::before {
    content: "";
    width: 1px;
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
    background: #e4e8f1;
}
.hidden{
    display: none !important;
}
[hidden]{
    display: none !important;
}